html {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
body {
  font-family: "MyriadProRegular", sans-serif;
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Wrapper-container
-----------------------------------------------------------------------------*/
.wrapper {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-bottom: 5em;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* Left side
-----------------------------------------------------------------------------*/
.left {
  display: block;
  float: left;
  position: relative;
  height: inherit;
  max-width: 43%;
  margin: 0;
  padding: 0;
}
.left p {
  margin: 0.9em 0 2em;
}
.left-content {
  position: relative;
  padding: 97px 67px;
}
/* Right side
-----------------------------------------------------------------------------*/
.right {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  height: inherit;
  max-width: 57%;
}
.right p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.right-content {
  position: relative;
  padding: 97px 67px;
  margin: 0;
}
/* Content
/*-----------------------------------------------------------------------------*!*/
.block {
  width: 100%;
  display: block;
  float: left;
  position: relative;
}
.block__main-header .logo {
  display: inherit;
  text-align: center;
  height: 60%;
  margin-top: 30px;
}
.block__main-header .circle-max {
  border-radius: 50%;
  width: 252px;
  height: 252px;
  border: 2px solid #3d6cb0;
}
.block__main-header .circle-max-text {
  padding: 0;
  margin: 40px 0 100px;
  line-height: 4em;
}
.block__main-header .name-here {
  font-size: 3.6rem;
  text-transform: uppercase;
}
.block__main-header .surname {
  font-size: 4.25rem;
  font-family: "MyriadProBold";
  text-transform: uppercase;
}
.block__main-header .graphic-designer {
  font-size: 1.75rem;
  font-family: "MyriadProBold";
  text-transform: uppercase;
}
.block__header {
  display: inline-block;
  position: relative;
  font-family: 'MyriadProBold', sans-serif;
  text-align: justify;
  overflow: hidden;
  height: 82px;
}
.block__header:after {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
.block__header .circle-min-out {
  border-radius: 50%;
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #6d92c8;
  display: block;
  margin-right: 12px;
}
.block__header .circle-min-in {
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4070b7;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block__header .circle-min-in .star {
  font-size: 3.1rem;
  margin-bottom: 5px;
}
.block__header .circle-min-in .laptop {
  color: #fff;
}
.block__header .rect-line-profile {
  height: 100%;
  line-height: 82px;
  width: 170px;
}
.block__header .rect-line-contact {
  height: 100%;
  line-height: 82px;
  width: 148px;
}
.block__header .rect-line-skills {
  height: 100%;
  line-height: 82px;
  width: 204px;
}
.block__header .rect-line-experience {
  height: 100%;
  line-height: 82px;
  width: 279px;
}
.block .common-text {
  font-size: 1rem;
}
.block .image-icon {
  color: #fff;
}
.block .upper-text {
  text-transform: uppercase;
}
.block .logo-text {
  color: #3d6cb0;
  font-weight: bold;
  font-family: 'MyriadProBold', sans-serif;
  float: left;
  text-transform: uppercase;
  font-size: 2.5rem;
  height: 100%;
  line-height: 82px;
  margin-right: 12px;
}
.block__contact {
  border-collapse: collapse;
  padding: 10px 0 17px 0;
  font-size: 1.5rem;
}
.block__contact-table {
  border-collapse: collapse;
  display: table;
  margin: auto;
}
.block__contact-table .contact-row {
  display: table-row;
}
.block__contact-field-name {
  font-weight: bold;
  color: #3d6cb0;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: table-cell;
  padding: 9px 24px 9px 0;
  font-weight: bold;
}
.block__contact-field {
  font-size: 1.1rem;
  padding-left: 1rem;
  display: table-cell;
}
.block__skills {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  font-family: "MyriadProRegular", sans-serif;
}
.block__skills ul {
  margin: 0 auto;
}
.block__skills .skills-list {
  padding: 10px;
}
.block__skills .skills-list li {
  margin-right: 5px;
  color: #3d6cb0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 1px;
  list-style-type: none;
  display: inline;
}
.block__skills-creative,
.block__skills-teamwork,
.block__skills-innovate,
.block__skills-communication {
  text-transform: uppercase;
}
.block__skills-creative li:nth-child(9) ~ li,
.block__skills-teamwork li:last-child,
.block__skills-innovate li:nth-child(6) ~ li,
.block__skills-communication li:last-child {
  color: #e6e6e6;
}
.block__education {
  display: flex;
}
.block__education-list {
  display: table;
  font-size: 1.8rem;
}
.block__education-list li {
  list-style-image: url("../images/mini_circle.png");
}
.block__education-list li .master {
  font-size: 1.8rem;
  font-family: "MyriadProBold";
  color: #3d6cb0;
  margin-right: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.block__experience {
  display: flex;
}
.block__experience-list {
  display: table;
  font-size: 1.8rem;
}
.block__experience-list li {
  list-style-image: url("../images/mini_circle.png");
}
.block__experience-list li .company {
  font-size: 1.7rem;
  font-family: "MyriadProBold";
  margin-right: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.block__software {
  display: block;
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-family: "MyriadProRegular", sans-serif;
}
.block__software .soft {
  float: left;
  max-width: 37%;
  margin-right: 5rem;
  line-height: 1.5em;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.block__software .soft-name {
  margin: 0 0 7px 0;
  display: flex;
}
.block__software .soft .software-svg {
  height: 24px;
  width: 306px;
  display: flex;
  background-color: #e6e6e6;
}
@media screen and (max-width: 700px) {
  .left {
    width: 80%;
    margin-right: 0;
  }
  .right {
    width: 80%;
  }
  .block__contact .block__contact-table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .block__skills {
    text-align: center;
  }
  .left .block__header {
    width: 100%;
  }
  .right .block__header {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .left {
    max-width: 100%;
  }
  .right {
    max-width: 100%;
  }
}
