section.block
    .block__header
        .circle-min-out
            svg.circle-min-in
                circle(r="17.5" cx="50%" cy="40%" fill="#ffffff")
                ellipse(rx="8.5" ry="6" cx="50%" cy="62%" fill="#ffffff")
                rect(width="17" height="7" x="38%" y="73%" rx="4" fill="#ffffff")
        .logo-text skills
        svg.rect-line
            rect(width="100%" height="6.25px" x="0" y="41" fill="#3d6cb0")
    .block__skills
        .block__skills-creative creative
            mixin list_skills
                ul.skills-list
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
                    li
                        i.fa.fa-circle(aria-hidden="true")
            +list_skills
        .block__skills-teamwork teamwork
            +list_skills
        .block__skills-innovate innovate
            +list_skills
        .block__skills-communication communication
            +list_skills