section.block
    .block__header
        .circle-min-out
            .circle-min-in
                i.fa.fa-laptop.fa-3x.laptop(aria-hidden="true")
        .logo-text software
        svg.rect-line
            rect(width="100%" height="6.25px" x="0" y="41" fill="#3d6cb0")
    .block__software
        .soft
            .soft-name photoshop
            svg.software-svg
                rect(width="277px" height="24px" x="0" y="0" fill="#3d6cb0")
        .soft
            .soft-name dreamweaver
            svg.software-svg
                rect(width="254px" height="24px" x="0" y="0" fill="#3d6cb0")
        .soft
            .soft-name illustrator
            svg.software-svg
                rect(width="215px" height="24px" x="0" y="0" fill="#3d6cb0")
        .soft
            .soft-name after effects
            svg.software-svg
                rect(width="188px" height="24px" x="0" y="0" fill="#3d6cb0")
        .soft
            .soft-name indesign
            svg.software-svg
                rect(width="171px" height="24px" x="0" y="0" fill="#3d6cb0")
        .soft
            .soft-name html&amp;css3
            svg.software-svg
                rect(width="277px" height="24px" x="0" y="0" fill="#3d6cb0")
