doctype html
html(lang="en")
    head
        include block__meta
    body
        .wrapper
            .left
                include block__main_header
                include block__profile
                include block__contact
                include block__skills
            .right
                include block__education
                include block__experience
                include block__software
