doctype html
html(lang="en")
    head
        include layout/meta
        include layout/styles
        include layout/icon_fonts
        title FullStackDevelopment Test 1
    body
        .wrapper
            .left
                section.block
                    include layout/block__main_header
                section.block
                    include layout/block__profile
                section.block
                    include layout/block__contact
                section.block
                    include layout/block__skills
            .right
                section.block
                    include layout/block__education
                section.block
                    include layout/block__experience
                section.block
                    include layout/block__software
