.block__header
    .circle-min-out
        .circle-min-in
            svg.circle-min-in
                path(fill="none" stroke="#ffffff" stroke-width="3" d="M50,45 C55,3 20,5 25,40")
                rect(width="42" height="31" x="22%" y="35%" fill="#ffffff")
    .logo-text experience
    svg.rect-line
        rect(width="100%" height="6.25px" x="0" y="41" fill="#3d6cb0")
.block__experience
    mixin list__experience
        ul.block__experience-list
            li
                b.company company name
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.company company name
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.company company name
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.company company name
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
    +list__experience