.block__header
    .circle-min-out
        .circle-min-in
            i.icon-star.image-icon.star
    .logo-text education
    svg.rect-line
        rect(width="100%" height="6.25px" x="0" y="41" fill="#3d6cb0")
.block__education
    mixin list_education
        ul.block__education-list
            li
                b.master master degree
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.master master degree
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.master master degree
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
            li
                b.master master degree
                a //Feb 2011 - Jun 2014
                p.upper-text university name
                p.common-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa atque molestias, quia non. Id facilis animi adipisci sequi impedit, unde tempore laboriosam maiores odio ratione aspernatur quidem cumque harum.
    +list_education