link(rel="icon" href="images/favicon.ico")
link(href="fonts/roboto/stylesheet.css" rel="stylesheet")
link(rel="stylesheet" href="fonts/font-awesome-4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="fonts/fontello-8fdd97ab/css/fontello.css")